/cc_chefchr.class
/cc_chefptnt.class
/codeforces.cf_cavepainting.class
/codeforces.cf_cloningtoys.class
/codeforces.cf_magicforest.class
/codeforces.cf_perfectnumber.class
/codeforces.cf_seatarrangements.class
/codeforces.cf_supermarket.class
/codeforces.cf_acompatiblepair.class
/cf_aproperouslot.class
